.country-banner {
  display: flex;
  width: 60%;
  flex-direction: row;
  background-size: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px;
  color: white;
  font-size: 14px;
}

.country-info {
  flex: 2;
  padding: 10px;
}

.country-stats {
  display: flex;
  flex-direction: column;
  align-items: bottom;
  max-height: fit-content;
}

.visa-timeline {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  max-height: fit-content;
  height: 10%;
  /* Semi-transparent black */
  padding: 10px;
  text-align: center;
  display: table-row;
  align-items: center;
  justify-content: center;
}

.visa-info {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  /* Light grey background */
  color: black;
  padding: 10px;
}

.icon-applicant,
.icon-stay,
.icon-time,
.icon-type {
  margin-right: 5px;
}

/* Consider adding FontAwesome or similar for icons */