.documents-timeline {
    position: relative;
    padding-left: 20px;
  }
  
  .timeline-item {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .timeline-content {
    padding-right: 9px;
    margin-top: 10px;
    padding-top: 6px;
    /*background: white;*/
    border-radius: 5px;
    padding-bottom: 1px;
    align-items: center;
    margin-left: -15px;
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
  }
  
  .timeline-connector {
    position: absolute;
    left: -60px; /* Adjust this value to control the distance from the left side */
    top: -66px;
    bottom: 0;
    width: 46px; /* Total width including both parts */
    background-color: rgba(217,217,217,255); /* Adjust the color of the connector */
    border-radius: 20px;
  }

  .timeline-icon {
    position: absolute;
    left: 50%;
    top: 67%;
    color: grey;
    transform: translate(-50%, -50%);
  }
  
  
  .timeline-connector:last-child {
    display: none; /* Hide the connector after the last item */
  }

  .blue-sphere {
    width: 26px;
    height: 26px;
    background-color:  rgba(96, 92, 212, 255);
    border-radius: 50%; /* This creates a perfect circle */
    position: absolute;
    top: 18px; /* Adjust this value to properly position the blue sphere */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Ensure the blue sphere appears above the timeline connector */
  }
  
  

  
  .timeline-content h3,
  .timeline-content p {
    margin-left: 30px; /* Adjust the space between the connector and content */
  }
  